<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root">
        <div id="header">
            <span>header</span>
        </div>
        <div id="middle">
            <div id="nav">
                <span>nav</span>
            </div>
            <div id="main">
                <span>main</span>
            </div>
            <div id="ad">
                <span>ad</span>
            </div>
        </div>
        <div id="footer">
            <span>footer</span>
        </div>
    </div>
    
    <style>
        
    </style>
</body>
</html>